<%=form_for :recipe, url: {action: "add_ingredient", method: "POST"} do |f|%>
    <% @recipe.ingredients.each do |ingr| %>
        <%if !@family.items.map{|item| item.name}.include?(ingr.name)%>
            
        <% else %>

        <% end %>
        <p></p>
    <% end  %>
    Shopping list: <%=f.collection_select :shopping_list, @shopping_lists, :id, :name%>
    <br>
    <%=f.submit "Add"%>
<%end%>