<h1>
    <%=@recipe.name.capitalize%>
</h1>

<ul>
    <%counter = 0%>

    <%@recipe.ingredients.each do |ingredient|%>
        <li>
            <%=ingredient.name%>

            <% ingredient_details = @details.find{|i| i.items_enum_id == ingredient.id} %>
            <%="Quantity " + String(ingredient_details.quantity) + " " + ingredient_details.items_enum.quantity_unit%>

            <%counter+=1%>
        </li>
    <%end%>
</ul>
