<p id="notice">blaha<%= notice %></p>

<%= link_to 'Create a family!', '/families/new' %>

<ul>
	<%@users.each do |u|%>
		<li>
			<%=link_to u.username, '/users/show/' + String(u.id)%>
		</li>
	<%end%>
</ul>