<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<%=@list.name%>

	<%=link_to 'Add items to shopping list!', '/families/' + String(@family.id) + '/shopping_lists/:id/edit'%>

	<%if @list.items != []%>
		<h1>Items of shopping list:</h1>
		
		<%@list.items.each do |item|%>
			<ul>
				<li>
					<%=item.name%> - <%=item.price%>
				</li>
			</ul>
		<%end%>

	<%else%>
		<h1>There are not items in this list yet...</h1>
	<%end%>
</body>
</html>