$background-color: rgb(165, 101, 42);
$font-color: green;
$body-image-background: image-url('wooden-table5');
$gradient-color:-webkit-linear-gradient(bottom right, pink, yellowgreen, green);
$gradient-color2:-webkit-linear-gradient(bottom right, white, yellowgreen, green);

body{
    background: $body-image-background no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto 100%;
    background-color: orangered;
    color: $font-color;
    margin: 0;
    font-family: cursive;
    font-size: 30px;
    font-weight: 500;
    height: 100%;
    width:  100%;
}
    
a{
    color: yellowgreen;
    text-decoration: none;
    
    &:visited {
      color: yellowgreen;
    }
  
    &:hover {
      color: yellowgreen * 1.5;
      background-color: transparent;
    }
}

div#body{
    padding-top: 20px;
    width: 100%;
    height: -webkit-fill-available;
}

div.field{
    margin: 20px;
}

div.alert{
    margin: 10px;
    text-align: center;
    border-radius: 25px;
    // transition: opacity 2s;
}

div.alert-error{
    color: white;
    background-color: rgba(255, 0, 0, 0.651);
    border-color: rgb(255, 0, 0);
}

div.alert-success{
    color: white;
    background-color: rgba(18, 211, 18, 0.651);
    border-color: rgb(31, 187, 31);
}
