$background-color: rgb(165, 101, 42);
$font-color: green;
$body-image-background: image-url('cutting-board-large');

body{
    background: $body-image-background no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $font-color;
    margin: 0;
    // font: 900 2vh  cursive;    
    font-family: cursive;
    font-size: 30px;
    // font-style: normal;
    font-weight: 500;
    height: 100%;
    width:  100%;
}
    
a{
    color: yellowgreen;
    text-decoration: none;
    
    &:visited {
      color: yellowgreen;
    }
  
    &:hover {
      color: yellowgreen * 1.5;
      background-color: transparent;
    }
}

div#body{
    padding-top: 20px;
    width: 100%;
    height: -webkit-fill-available;
}

div.field{
    margin: 20px;
}

div.alert{
    padding: 20px;
    margin: 0 20px 0 20px;
    text-align: center;
    border-style: solid ;
}

div.alert-error{
    color: red;
}

div.alert-success{
    color: yellowgreen;
}
