
$navbar_background_color: rgba(0, 0, 0, 0.568);
$link_size: 4vh;
$navbar-padding: 4vh;
$navbar-corners-size: 60vh;
$gradient-color:-webkit-linear-gradient(bottom right, pink, yellowgreen, green);


nav{
    height: fit-content;
    padding: $navbar-padding;
    transition: padding 0.5s;
    background-image: url('fruits_background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav:hover{
    padding: $navbar-padding+7vh;
}

ul{
    background-color: $navbar_background_color;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    vertical-align: middle;
    align-items: center;
    padding: 0 5px 5px 5px;
    
    span{
        display: flex;
        justify-content: center;
    }
    
    #nav-center{
        li{
            display:flex;
            align-content: center;
        }
        a{
            margin: auto;
            text-align: center;
        }
        width: 150vh; 
    }
    
    #nav-logo{
        justify-content: start;
        margin-left: 5vh;
        width: $navbar-corners-size;
        p{
            background-color: green;
            height: 50px;  
            width: 50px;
        }    
    }    
    
    #nav-user-control{
        justify-content: flex-end;
        width: $navbar-corners-size;
    }
    
    li{
        padding: 10px;
        list-style-type: none;
        margin: 5px;
        
        a{        
            font-size: $link_size;
            background: $gradient-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: .5px;
            padding: .8vh;

            transition: font-size 0.6s; 

            &:hover{
                filter: drop-shadow(30px 30px .1em  );
                
            }
        }
        
        &#home-span{
            border: 5px double yellowgreen;
            border-radius: 150%;
            padding: 3vh;
            margin: auto;
        }
        #home {
            padding: 3vh;
            font-size: $link_size+4vh;
        }
        
    }
}