
$navbar_background_color: rgba(0, 0, 0, 0.568);
$navbar_height: 80px;
$navbar-padding: 20px;
$navbar-corners-size: 60vh;
$gradient-color: linear-gradient(to bottom right, red, green);


nav{
    height: $navbar_height;
    padding: $navbar-padding;
    transition: padding 0.7s;
    background-image: url('fruits_background.jpg');
}

nav:hover{
    padding: $navbar-padding+30px;
}

ul{
    background-color: $navbar_background_color;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;

    a{        
        font-size: 3vh;
        color: $gradient-color;
        // mix-blend-mode: difference;
        // filter: drop-shadow(.01em .05em rgb(60, 255, 0));

        &:hover{
            background-color: transparent ;
            color: yellowgreen;
            // filter: drop-shadow(.03em .07em rgb(255, 238, 0));
        }
    }
        
    align-items: center;
    padding: 5px;

    span{
        display: flex;
        justify-content: center;
    }

    #nav-center{
        width: 90vh; 
    }
    
    #nav-logo{
        justify-content: start;
        margin-left: 5vh;
        width: $navbar-corners-size;
        p{
            background-color: green;
            height: 50px;  
            width: 50px;
        }    
    }    

    #nav-user-control{
        justify-content: flex-end;
        width: $navbar-corners-size;
    }

    li{
        padding: 10px;
        list-style-type: none;
        margin: 5px;
        &#home-span{
            margin: auto;
        }
        #home {
            font-size: 6vh;
        }

    }
}