
$navbar_background_color: rgba(0, 0, 0, 0.568);
$link_size: 200%;
$navbar-padding: 10px;
$navbar-corners-size: 15%;


nav{
    font-weight: 900;
    color: $gradient-color;
    height: fit-content;
    padding: $navbar-padding;
    transition: padding 0.5s;
    background-image: image-url('fruits_background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    &:hover{
        padding: $navbar-padding+30px;
    }
    
    ul{
        line-height: 1;
        background-color: $navbar_background_color;
        border-radius: 40px;
        display: flex;
        justify-content: space-around;
        margin: auto;
        vertical-align: middle;
        align-items: center;
        padding: 0 5px 5px 5px;
        
        span{
            display: flex;
            justify-content: center;
        }
        
        #nav-center{
            a{
                margin: auto;
                text-align: center;
            }
            width: 50%; 
        }
        
        #nav-logo{
            justify-content: start;
            margin-left: 5vh;
            width: $navbar-corners-size;
            p{
                background-color: green;
                height: 10vh;  
                width: 10vh;
            }    
        }    
        
        #nav-user-control{
            justify-content: flex-end;
            width: $navbar-corners-size + 5%;
            a{
                margin: 0 10px 0 10px;
            }
        }
        
        li{
            display:flex;
            align-content: center;
            // padding: 10px;
            list-style-type: none;
            margin: 5px;
            
            a{      
                text-align: center;
                vertical-align: middle;  
                font-size: $link_size;
                background: $gradient-color;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-top: auto;
                margin-bottom: auto;
                letter-spacing: .5px;
                padding: .8vh;
                
                transition: font-size 0.6s; 
                
                &:hover{
                    filter: drop-shadow(30px 30px .1em  );
                    text-decoration: none;
                }
                
            }
            
            &#home-span{
                border: 5px double yellowgreen;
                border-radius: 150%;
                padding: $navbar-padding;
                margin: auto;
            }
            #home {
                padding: 3vh;
                font-size: $link_size+100%;
            }
            
        }
    }
}