@import 'animations';
@import 'generic';
@import 'navbar';

div#body{
    padding: 2%;    
    min-height: 100%;
    width: auto;
}

.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
