// Place all the styles related to the shopping_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal{
    color: black;    
}


a.admin-member-view{
    
    color: yellowgreen;
    font-weight: 900;
    font-size: 120%;
    &:visited{
        color: yellowgreen;
    }
}

#budget-announce{
    font-weight: 600;
    color: yellowgreen;
    font-size: 150% !important; 
}
