// Place all the styles related to the shopping_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal{
    color: black;    
}
span#quantity-placeholder{
    float: right;
    color: rgb(105, 105, 105);
}