
<% flash.each do |key, value| %>
    <% if key == "alert" %>
      <% key = "error" %>
    <% end %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  setTimeout(function() {
    $('.alert').fadeOut('fast');
  }, 4500); // <-- time in milliseconds
</script>
